@font-face {
    font-family: "iconfont";
    /* Project id 2606522 */
    src: url('//at.alicdn.com/t/font_2606522_6n2p0jngfis.woff2?t=1628605076078') format('woff2'), url('//at.alicdn.com/t/font_2606522_6n2p0jngfis.woff?t=1628605076078') format('woff'), url('//at.alicdn.com/t/font_2606522_6n2p0jngfis.ttf?t=1628605076078') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-tongji:before {
    content: "\e64b";
}

.icon-tuandui:before {
    content: "\e60a";
}

.icon-guanbi1:before {
    content: "\e62a";
}

.icon-biaotizhishi:before {
    content: "\e60b";
}

.icon-star__easyico:before {
    content: "\e607";
}

.icon-loudou:before {
    content: "\e645";
}

.icon-pingjia:before {
    content: "\e608";
}

.icon-wuxing:before {
    content: "\e679";
}

.icon-guanbi:before {
    content: "\e61c";
}

.icon-pingjia1:before {
    content: "\e65d";
}

.icon-shijian:before {
    content: "\e7b5";
}

.icon-mulu:before {
    content: "\e606";
}

.icon-zihuanjie2x:before {
    content: "\e644";
}

.icon-tuichu:before {
    content: "\e707";
}

.icon-shezhi:before {
    content: "\e710";
}

.icon-jichushuju:before {
    content: "\e609";
}

.icon-navicon-ctgl:before {
    content: "\e649";
}

.icon-navicon-cplx:before {
    content: "\e667";
}

.icon-leimucumeishi:before {
    content: "\e605";
}

.icon-18:before {
    content: "\e61e";
}

.icon-yongcanjiucan:before {
    content: "\e67d";
}

.icon-duihao:before {
    content: "\e65a";
}

.icon-geren:before {
    content: "\e6dd";
}

.icon-wancan:before {
    content: "\e6e7";
}

.icon-jilu:before {
    content: "\e600";
}

.icon-meishi:before {
    content: "\e603";
}

.icon-wucan:before {
    content: "\e6a4";
}

.icon-ziyuan:before {
    content: "\e62e";
}

.icon-yonghuming-weixuanzhong:before {
    content: "\e61a";
}

.icon-location:before {
    content: "\e601";
}

.icon-del:before {
    content: "\e602";
}

.icon-xuanzhong:before {
    content: "\e604";
}

.icon-saoyisao2:before {
    content: "\e62d";
}

.icon-kehu:before {
    content: "\e6ad";
}

.icon-yongcan1:before {
    content: "\e651";
}

.icon-yuangong:before {
    content: "\e666";
}

.icon-mima:before {
    content: "\e715";
}

.icon-yonghuming:before {
    content: "\e6aa";
}

.icon-zhaodaiguanli:before {
    content: "\e61b";
}